<div class="container mt-5" style="width: 80%;">
<div class="card">
  <div class="card-header">Product list</div>
  <div class="card-body">
    <div class="row mt-2">
      <div class="col-6">
        Filter By:
        <input type="text" />
      </div>
    </div>
    <div class="row mt-4">
    <table class="table table-bordered table-stripped">
        <thead>
          <tr>
            <th scope="col">
              <div class="text-center">
              <button class="mx-auto btn btn-primary ">Show Image</button>

              </div>
              </th>
            <th scope="col">Product</th>
            <th scope="col">Code</th>
            <th scope="col">Available</th>
            <th scope="col">Price</th>
            <th scope="col">5 star rating</th>
          </tr>
        </thead>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
    </table>
    </div>
  </div>
</div>
</div>